<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="proyecto1evaPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>jdbc.Pojos.IncidenciaPojo</class>
    <class>jdbc.Pojos.LenguajePojo</class>
    <class>jdbc.Pojos.RepositorioPojo</class>
    <class>jdbc.Pojos.UsuarioPojo</class>
    <class>jdbc.Pojos.TipoUsuarioPojo</class>
    <class>jdbc.Pojos.EstadoPojo</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3307/moodle?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.password" value="administrador"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
    </properties>
  </persistence-unit>
</persistence>
